<h1>Listing systems</h1>

<table>
  <tr>
    <th>Guid</th>
    <th>Name</th>
    <th></th>
  </tr>

<% @systems.each do |system| %>
  <tr>
    <td><%= system.guid %></td>
    <td><%= system.name %></td>
    <td><%= link_to 'Show', system %></td>
  </tr>
<% end %>
</table>
