<footer>
    <div class="container">
        <div class="row">
            <div class="span12">
                <p class="pull-right">Powered by Adept ACE</p>
                <p>&copy; Copyright 2013 Adept Technology, Inc.</p>
            </div>
        </div>
    </div>
</footer>