<div id="in-nav">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul class="pull-right">
                    <!-- <li><a href="#">Link1</a></li> -->
                    <li><a href="login.html">Login</a></li>
                </ul><a id="logo" href="#">
                    <h4>Application <strong>Monitor</strong></h4></a>
                </div>
            </div>
        </div>
    </div>