<div id="in-sub-nav">
    <div class="container">
        <div class="row">
            <div class="span12">
                <ul>
                    <% if user_signed_in? %>
                    <li><a href="../pages/dashboard" class="active" id="dashboard_tab"><i class="icon-dashboard icon-2x"></i><br>Dashboard</a></li>
                    <li><a href="../event_log_entries" id="events_tab"><i class="icon-exclamation-sign icon-2x"></i><br>Events</a></li>
                    <li><a href="../sessions" id="sessions_tab"><i class="icon-upload icon-2x"></i><br>Sessions</a></li>          
                    <li><a href="../systems" id="systems_tab"><i class="icon-laptop icon-2x"></i><br>Systems</a></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>
